$color_1: dimgray;
$color_2: #5e5c5c;
$color_3: white;
$color_4: #9356dc;
$color_6: #2FAF94;
$font-family_3: "Roboto", sans-serif;
$font-family_4: "Shrikhand", cursive;
$background-color_1: #EAEAEA;
$background-color_2: #F3F3F3;
$background-color_3: #F6F6F6;
$background-color_4: #9356dc;
$background-color_5: #F5EDFF;
$background-color_6: white;
$background-color_7: #99E2D0;
$background-color_8: #353535;
$outline-color_1: darkgray;