/* Define color */
:root {
    --violet-primaire: #9356DC  ;
    --rose-secondaire: #FF79DA;
    --vert-tertiare: #99E2D0;
    --gray-claire: #EAEAEA;
  }

body{
    margin: 0 auto;
    padding: 0 auto;
}

@media only screen and (max-width: 767px) {
    .titre{
        display: flex;
    }
    .logo{
        width: 100%;
        font-family: Shrikhand;
        font-size: 30px;
        font-weight: 400;
        line-height: 44px;
        letter-spacing: 0em;
        justify-content: center;
        text-align: center;
    }
    .localisation{
        display: flex;
        background-color: var(--gray-claire);
        display: flex;
        width: 100%;
        height: 50px;
        justify-content: center;
        align-items: center;
        gap: 17px;
    }
    .ville{
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .infos{
        display: flex;
        flex-direction: column;
    }
    .text1 h1{
        
        text-align: center;
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .text2 h2{
        color: var(--Grey, #353535);
        text-align: center;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

}
